.services {
  margin: 0 auto;
  position: relative;
  z-index: -100;
}

.service-item {
  padding: 5rem;
  border-radius: 5px;
  position: relative;
  z-index: -3;
  user-select: none;
}

.service-item h2 {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  height: 60vh;
  padding: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  z-index: -1;
  font-size: 9rem;
  color: rgba(2, 150, 141, 0.32);
  /* text-transform: uppercase; */
  text-align: center;
}

.service-content {
  min-height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-content .service-img-content {
  width: 60%;
  overflow: hidden;
}
.service-content .service-img-content img {
  width: 90%;
  height: auto;
}
.service-content .service-text-content {
  width: 40%;
  justify-content: justify;
}

.service-content .service-text-content h1 {
  font-size: 32px;
  font-weight: 500;
}
/* .service-desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
} */

/* .service-word {
  display: inline-block;
} */
